<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>The Moominpappa Bot</title>
        <div id ="head_container">
            <div class="title"><h1>The Moominpappa Bot</h1></div>
            <div class="img"><img src="/static/img/moominpappa.svg" alt="Moominpappa illustation" /></div>
        </div>
    </head>

    {% block content %}{% endblock %}

    <footer>
        <p class="footer">-Réalisation: Camille CLARRET-</p>
        <p class="footer"><a href="http://www.camille-clarret.com/" title="site web" target="blank">Site web</a></p>
    </footer>
</html>