{% extends "base.html" %}

{% block content %}

<section>
    <div class="discussion">
        <div ></div>
        <div></div>
    </div>

    <div class="user_input">
        <fieldset>
            <legend>Questionner Moominpappa sur ma prochaine aventure !</legend>

                <form method="post" action="/index/">
                    <p>
                        <label for="user_question"><strong>Dis-moi Moominpappa...</strong></label>
                        <div id="user_input_container">
                            <textarea name="user_question" type="text" id="user_question" class="user_question" placeholder="Où se trouve le parc moomin world ?" autofocus required></textarea>
                            <img ID="button" src="/static/img/button.png" alt="boutton" />
                        </div>
                    </p>
                </form>
        </fieldset>
    </div>
</section>
    
{% endblock %}