/* General style */
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #181818;
    /*background: url("/static/img/background.png") repeat ;*/
}

@media all and (max-width: 1024px)
{
    *
    {
        font-size: 0.91em;
    }
}


#main_wrappers
{
    width: 900px;
    margin: auto;
}


@media all and (max-width: 1024px)
{
    #main_wrappers
    {
        margin: auto;
    }
}

/* Header */

/* first part : navbar */

nav ul
{
    display: flex;
    list-style-type: none;
}

nav a
{
    text-decoration: none;
    font-weight: bold;
}

li
{
    padding-right: 20px;
    color: #135b5c;
}

.link
{
    color: #135b5c;
}

.link:hover
{
    color: #a2b45e;
}

@media all and (max-width: 1024px)
{
    nav
    {
        margin-left: 25px;
    }

    nav ul
    {
        display: inline;
        list-style-type: disc;
    }
}

/* first part : title + image */

#header_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3
{
    color: #135b5c;
    text-align: center;
}

@media all and (max-width: 1024px)
{
    h3
    {
        font-size: 0.75em;
    }
}

.title
{
    flex: 2;
    font-size: 2em;
}

.img
{
    width: 12.5%;
    height: 12.5%;
}

@media all and (max-width: 1024px)
{
    .img
    {
        width: 20%;
        height: 20%;
    }
}

/* Body */

#discussion
{
    overflow: scroll;
    /*height: 350px;*/
    min-height: 250px;
    background: #92e1e9;
    border: 3px solid  #135b5c;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
    color: #181818;
    font-size: 0.9em;
}

.bot
{
    align-self: flex-start;
    background: #c4ecac;
    border: 1px solid  #135b5c;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    max-width: 48%;
    box-shadow: 2px 2px 2px grey;
}

.bot p
{
    background: #c4ecac;
    margin: 5px 5px 5px 5px;
}

.bot[id^="map"]
{
    width: 48%;
    height: 125px;
}

.user
{
    align-self: flex-end;
    background: #fff98c;
    border: 1px solid  #135b5c;
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    max-width: 48%;
    box-shadow: 2px 2px 2px grey;
}

.user p
{
    background: #fff98c;
    margin: 5px 5px 5px 5px;
}

.user_input
{
    margin: 20px 50px 20px 50px;
}

#user_input_container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user_question
{
    width: 750px;
    height: 60px;
    margin-bottom: 20px;
    padding: 5px 5px 5px 5px;
}

#button
{
    width: 85px;
    height: 80px;
    margin: 0px 10px 10px 10px;
}

#button:active
{
    width: 75px;
    height: 70px;
    margin: 10px 10px 10px 10px;
}

@media all and (max-width: 1024px)
{
    .user_question
    {
        width: 200px;
        height: 50px;
    }
}

/* Footer */

footer p
{
    font-size: 0.8em;
    text-align: center;
}

footer img
{
    width: 25px;
    height: 25px;
    margin: 0px 10px 0px 10px;
}

#social_media
{
    display: flex;
    justify-content: center;
}
