/* General style */
*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #181818;
    background: url("/static/img/background.png") repeat ;
}

#main_wrappers
{
    width: 900px;
    margin: auto;
}

/* Header */

/* -- nav -- */

nav ul
{
    display: flex;
    list-style-type: none;
}

nav a
{
    text-decoration: none;
    font-weight: bold;
}

li
{
    margin-right: 20px;
}

.link
{
    color: #135b5c;
}

.link:hover
{
    color: #a2b45e;
}

/* -- subheader -- */

#header_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1
{
    color: #135b5c;
    text-align: center;
    font-size: 1.5em;
}

.title
{
    flex: 2;
    font-size: 2em;
}

.img
{
    width: 10%;
    height: 10%;
}

/* Body */

.discussion
{
    height: 500px;
    min-height: 250px;
    background: #92e1e9;
    border: 3px solid  #135b5c;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
}

.user_input
{
    margin: 20px 50px 20px 50px;
}

.user_question
{
    min-width: 500px;
    width: 750px;
}

/* Footer */

footer p
{
    font-size: 0.8em;
    text-align: center;
}

footer img
{
    width: 25px;
    height: 25px;
    margin: 0px 10px 0px 10px;
}

#social_media
{
    display: flex;
    justify-content: center;
}
